@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

*{
    padding:0 ;
    margin: 0;
}

body{

    width :100% ;
    height:100% ;
}

.banner{
    position: relative;
    display: block;
    width: 100%;
    height: 570px;
    /* height: 100%; */
    padding: 0 !important;
    overflow:hidden ;
    /* border: 1px solid red; */
    background-image: url('../assets/images/home-bg.png');
}

.banner .triangle{
    position: absolute;
    bottom: 0px;
    left: 35%;
    width: 400px;
    height: auto;
    /* border: 1px soid rgb(0, 255, 136); */

}

.banner .circle{
    position: absolute;
    top: 30%;
    left: 0;
    width: 100px;
    height: auto;
    /* border: 1px soid rgb(0, 255, 136); */

}
.banner .rectangle{
    position: absolute;
    top: 30%;
    left: 93%;
    width: fit-content;
    /* width: 60px; */
    height: 200px;
    /* border: 1px solid rgb(0, 255, 136); */

}

.banner .triangle img ,.banner .rectangle img ,.banner .circle img{
    display: block;
    width: 100%;
    height: 100%;
}

/* BANNER CONTENT */
.banner .banner_content{
    display: flow-root; 
    position: relative; 
    width: fit-content;
    height: fit-content;
    margin: 90px auto;
    /* border: 1px solid rgb(0, 255, 136); */

}
.banner .banner_content .left_content , 
.banner .banner_content .right_content{
    /* width: calc(100% - 2px); */
    float: left;
}

.banner .banner_content .left_content .gdsc{
    width: 100%;
    margin: 0 auto;
    /* border: 1px solid rgb(102, 255, 0); */

}


.banner .banner_content .left_content .logo{
    width: 250px;
    height: auto;


}

.banner .banner_content .left_content .gdsc span{
    width: 250px;
    height: fit-content;
    display: block;
    margin: 0 auto;
    padding: 0 ;
    text-align: center ;
    font-family: 'Poppins', sans-serif;
    font-size: 65px;
    font-weight: 600;
    /* color: #2F3944; */
    background: -webkit-linear-gradient(90deg, #3F3F3F 0%, #8b8b8b 51.87%, #3F3F3F 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}


.banner .banner_content .left_content .gdsc .span1{
    transform: translateY(-30px);

}

.banner .banner_content .right_content{
    /* width: 300px;    */
    overflow: hidden;
    border: 1px solid yellow;
    margin-left: 20px;
}

.banner .banner_content .right_content .banner_img{
    /* display: block; */
    width: 400px;
    height: 300px;

}


/* INFO */

.info{
    display: block;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: fit-content;
    min-height: 650px;
    overflow: hidden;
    background-image: url('../assets/images/wave.png');
    background-size: 100% 100%;

}

.info .about{
    margin-top: 100px;
    display: block;
    position: relative;
    width: calc(100% - 0%);
    height: fit-content;
    /* border: 1px solid green ; */
    
}

.info .about .about_img{

    position: absolute;
    display: block;
    top: -30%;
    right: 10%;
    width: 370px;
    height: auto;
}

.info .about .header{
    display: block;
    position: relative;
    text-align: left;
    padding-left: 20px;
    margin-left: 80px;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 600;
    /* color: #2F3944; */
    background: -webkit-linear-gradient(90deg, #3F3F3F 0%, #696969 51.87%, #3F3F3F 100%);
    background-clip: text;
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;

}

.info .about .content_box{
    width: calc(85% - 10px);
    margin: 10px;
    margin-left: 80px;
    border-radius: 10px;
    background-color: #A1C2FF;
    /* border: 1px solid rgb(229, 255, 0); */

}

.info .about .content_box .content{

    width: calc(65% - 10px);
    margin: 10px;
    /* margin-left: 80px; */
    display: block;
    position: relative;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #090a0a;
    padding: 20px;
    /* border: 1px solid red; */

}


/* VISION */

.info .vision{
    margin-top: 80px;
    display: block;
    position: relative;
    width: calc(100% - 0%);
    height: fit-content;
    /* border: 1px solid green ; */
    
}

.info .vision .vision_img{

    position: absolute;
    display: block;
    top: -2%;
    left: 4%;
    width: 400px;
    height: auto;
}
.info .vision .header{
    display: block;
    position: relative;
    text-align: right;
    padding-right: 20px;
    margin-right: 80px;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 600;
    color: white;
    height: fit-content;
    transform: translateY(-70px);
    /* border: 1px solid green ; */

}

.info .vision .content_box{
    width: calc(80% - 10px);
    margin-left: auto;
    margin-right: 80px;
    border-radius: 10px;
    background-color:#EEDDDB;

    /* border: 1px solid rgb(229, 255, 0); */

}

.info .vision .content_box .content{

    width: calc(75% - 10px);
    margin-left: auto;
    display: block;
    position: relative;
    text-align: right;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #090a0a;
    padding: 25px;

    /* border: 1px solid red; */

}

/* DOTS */
.dots_box{
    width: fit-content;
    height: fit-content;
    position: absolute;
}


.dots_box  .dots{
    float: left;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 5px;
}

.info .about .dots_box{
    bottom: 6%;
    right: 29%;
}

.info .vision .dots_box{
    top: 5%;
    left: 26%;
}


/* FEATURED */
.featured{
    display: block;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: fit-content;
    background-size: 100% 100%;

}

.featured .header{
    display: block;
    position: relative;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 600;
    background: -webkit-linear-gradient(90deg, #3F3F3F 0%, #696969 51.87%, #3F3F3F 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* border: 1px solid green ; */
    
}

.featured .featured_container{
    width: 100%;
    display: flow-root;
    margin: 0 auto;

}

.featured .featured_container .featured_box{
    width: calc( 33% - 42px);
    margin: 20px 20px;
    float: left;
    border: 1px solid rgb(196, 196, 196);
    overflow: hidden;
    border-radius: 10px;
    background: #F5F5F5;
    box-shadow: 3px 2px 10px rgba(139, 139, 139, 0.596);
}

.featured .featured_container .featured_box .featured_title{

    width: 100%;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    color: white;

}

.featured .featured_container .featured_box .body{
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.featured .featured_container .featured_box .learnBtn{
    display: block;
    position: relative;
    width: 200px;
    margin-top: 10px ;
    margin-left: auto;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px 0;
    box-shadow: 4px 3px 6px rgba(119, 119, 119, 0.822);
    border-radius: 10px;
    

}


.featured .featured_container .featured_box .learnBtn a{
    display: block;
    position: relative;
    width: 100%;
    height: fit-content;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform:uppercase ;
    color: white;

}

.featured .featured_container .featured_box .featured_img{
    /* border: 1px solid red; */
    width: calc(100% - 30px);
    margin: 0 auto;

}

.featured .featured_container .featured_box .featured_img img{
    width: calc(100% - 0px);
    height: auto;
    
    
}


/* RESPONSIVE */


@media screen and (max-width:900px){


    .banner{
        height: 850px;
    }
    
    .banner .banner_content .left_content , 
    .banner .banner_content .right_content{
        float: none;
    }
    
    .banner .banner_content .left_content .logo{
        margin: 0 auto;
    
    
    }

    .banner .banner_content .left_content .logo{
        width: 150px;
        height: auto;
    
    
    }

    /* ABOUT */
    .info .about{
        margin-top: 60px;
        
    }
    
    .info .about .about_img{
        top: 70%;
        right: 15%;
        width: 320px;
    }
    
    .info .about .header{
        padding-left: 20px;
        margin-left: 80px;
        font-size: 50px;
    
    }
    
    .info .about .content_box{
        width: calc(80% - 10px);
        min-height: 350px ;
        margin: 10px auto;
        border-radius: 10px;
        background-color: #A1C2FF;
        /* border: 1px solid rgb(229, 255, 0); */
    }
    
    .info .about .content_box .content{
    
        width: calc(100% - 10px);
        margin: 10px auto;
        font-size: 18px;
        padding: 20px;
        /* border: 1px solid red; */
    
    }

    /* VISION */

.info .vision{
    margin-top: 250px;
}

.info .vision .vision_img{
    top: -25%;
    left: 4%;
    width: 400px;
    height: auto;
    z-index: 1;
}

.info .vision .content_box{
    width: calc(80% - 10px);
    position: relative;
    min-height: 400px;
    margin: 0 auto;

}

.info .vision .content_box .content{

    width: calc(100% - 0px);
    position: absolute;
    bottom: 0;
    text-align: left;
    font-size: 18px;
    padding: 25px;

}


    /* DOTS */

    .dots_box  .dots{
        width: 12px;
        height: 12px;
    }

    .info .about .dots_box{
        bottom: 4%;
        left: 13%;
    }

    .info .vision .dots_box{
        top: 3.5%;
        left: 76%;
        z-index: 1;
    }

    
/* FEATURED */

    .featured .header{
        font-size: 50px;
        font-weight: 600;
      
    }


    .featured .featured_container .featured_box{
        width: calc( 60% - 40px);
        margin: 40px auto;
        float: none;
        box-shadow: 3px 2px 10px rgba(139, 139, 139, 0.596);
    }

    .featured .featured_container .featured_box .featured_title{

        width: 100%;
        font-size: 30px;
    
    }
    
    .featured .featured_container .featured_box .body{
        font-size: 20px;
        font-weight: 600;
    }
    
    .featured .featured_container .featured_box .featured_img{
        /* border: 1px solid red; */
        width: calc(100% - 30px);
        margin: 0 auto;
    
    }
    
    .featured .featured_container .featured_box .featured_img img{
        width: calc(80% - 0px);
        height: auto;
        margin: 0 auto;

        
        
    }

    

}


@media screen and (max-width:700px){

    .banner .rectangle{
        top: 30%;
        left: 88%;
    }

    .banner .triangle{
        left: 18%;
    }
    
    
.banner .banner_content .right_content{
    /* width: 300px;    */
    margin: 0px auto;
}


.info .about .content_box{
    width: calc(80% - 10px);
    min-height: 420px ;
}  

/* VISION */

.info .vision{
    margin-top: 380px;
}

.info .vision .vision_img{
    top: -25%;
    left: 0%;
    width: 400px;
    height: auto;
    z-index: 1;
}

.info .vision .content_box{
    width: calc(80% - 10px);
    position: relative;
    min-height: 450px;
    margin: 0 auto;

}

.info .vision .content_box .content{

    width: calc(100% - 0px);
    position: absolute;
    bottom: 0;
    text-align: left;
    font-size: 18px;
    padding: 25px;

}


    /* DOTS */

    .dots_box  .dots{
        width: 12px;
        height: 12px;
    }

    .info .about .dots_box{
        bottom: 4%;
        left: 13%;
    }

    .info .vision .dots_box{
        top: 3.5%;
        left: 74%;
        z-index: 1;
    }

    
/* FEATURED */

    .featured .featured_container .featured_box{
        width: calc( 85% - 0px);
        margin: 40px auto;
        float: none;
        box-shadow: 3px 2px 10px rgba(139, 139, 139, 0.596);
    }

    .featured .featured_container .featured_box .featured_title{

        width: 100%;
        font-size: 30px;
    
    }
    
    .featured .featured_container .featured_box .body{
        font-size: 20px;
        font-weight: 600;
    }
    
    .featured .featured_container .featured_box .featured_img{
        /* border: 1px solid red; */
        width: calc(100% - 30px);
        margin: 0 auto;
    
    }
    
    .featured .featured_container .featured_box .featured_img img{
        width: calc(80% - 0px);
        height: auto;
        margin: 0 auto;

        
        
    }

    

}



@media screen and (max-width:600px){


/* ABOUT */


.info .about .header{
    padding-left: 20px;
    margin-left: 20px;
   
}


.info .about .content_box{
    width: calc(90% - 10px);
    min-height: 500px ;
}  

.info .about .about_img{
    top: 70%;
    right: 4%;
    width: 320px;
}

/* VISION */

.info .vision{
    margin-top: 380px;
}

.info .vision .vision_img{
    top: -25%;
    left: -5%;
    width: 400px;
}

.info .vision .header{
    padding-right: 10px;
    margin-right: 30px;
   
}

.info .vision .content_box{
    width: calc(90% - 10px);
    position: relative;
    min-height: 500px;
    margin: 0 auto;

}

.info .vision .content_box .content{
    width: calc(100% - 0px);

}


    /* DOTS */

    .info .about .dots_box{
        bottom: 4%;
        left: 10%;
    }

    .info .vision .dots_box{
        top: 3.5%;
        left: 76%;
        z-index: 1;
    }

}

@media screen and (max-width:500px){
        
            /* DOTS */
        
            .dots_box  .dots{
                width: 13px;
                height: 13px;
                margin: 2px;
            }
        
            .info .about .dots_box{
                bottom: 2%;
                left: 10%;
            }
        
            .info .vision .dots_box{
                top: 1%;
                left: 76.5%;
                z-index: 1;
            }


            .info .about .content_box .content,
            .info .vision .content_box .content{
                font-size: 16px;
                padding: 20px;
                /* border: 1px solid red; */
            
            }
            .info .vision .vision_img{
                top: -20%;
                left: -5%;
                width: 350px;
                height: auto;
                z-index: 1;
            }
        

    }

@media screen and (max-width:420px){

    
    
.banner{
    height: 500px;
}

.banner .triangle{
    bottom: 0px;
    left: 25%;
    width: 150px;

}

.banner .circle{
    top: 30%;
    left: 0;
    width: 50px;

}
.banner .rectangle{
    top: 30%;
    left: 85%;
    height: 100px;

}

.banner .triangle img ,.banner .rectangle img ,.banner .circle img{
    display: block;
    width: 100%;
    height: 100%;
}


/* BANNER CONTENT */
.banner .banner_content{
    margin: 60px auto;

}


.banner .banner_content .left_content .logo{
    /* width: 250px; */
    height: auto;
}

.banner .banner_content .left_content .gdsc span{
    width: 250px;
    font-size: 40px;
    
}


.banner .banner_content .left_content .gdsc .span1{
    transform: translateY(-20px);

}

.banner .banner_content .right_content{
    /* width: 300px;    */
    margin: 0px auto;
}

.banner .banner_content .right_content .banner_img{
    /* display: block; */
    width: 200px;
    height: 150px;

}
    
 
    
    /* ABOUT */
    .info .about{
        margin-top: 0px;
    }
    
    .info .about .about_img{
        top: 70%;
        right: 1%;
        width: 200px;
    }
    
    .info .about .header{        
        text-align: center;
        padding-left: 0;
        margin-left: 0;
        font-size: 35px;
    
    }
    
    .info .about .content_box{
        width: calc(95% - 3px);
        min-height: 400px ;
        margin: 10px auto;
    
    }
    
    .info .about .content_box .content{
    
        width: calc(100% - 10px);
        margin: 10px auto;
        font-size: 13px;
        padding: 20px;
        /* border: 1px solid red; */
    
    }



    /* VISION */
    
    .info .vision{
        margin-top: 130px;
    }

    .info .vision .header{
        width: 100%;
        text-align: right;
        font-size: 35px;
    
    }
    
    .info .vision .vision_img{
        top: -18%;
        left: -6%;
        width: 250px;
        height: auto;
        z-index: 1;
    }
    
    .info .vision .content_box{
        width: calc(95% - 3px);
        position: relative;
        min-height: 380px;
        margin: 0 auto;
    
    }
    
    .info .vision .content_box .content{
    
        width: calc(100% - 0px);
        position: absolute;
        bottom: 0;
        text-align: left;
        font-size: 13px;
        padding: 25px;
    
    }
    
    
        /* DOTS */
    
        .dots_box  .dots{
            width: 10px;
            height: 10px;
            margin: 2px;
        }
    
        .info .about .dots_box{
            bottom: 2%;
            left: 6%;
        }
    
        .info .vision .dots_box{
            top: 1%;
            left: 77%;
            z-index: 1;
        }
    
            
        
    /* FEATURED */

    .featured .featured_container .featured_box{
        width: calc( 100% - 20px);
        margin: 40px auto;
        float: none;
        box-shadow: 3px 2px 10px rgba(139, 139, 139, 0.596);
    }

    .featured .featured_container .featured_box .featured_title{
        font-size: 28px;

    }

    .featured .featured_container .featured_box .body{
        font-size: 16px;
        font-weight: 600;
    }

    .featured .featured_container .featured_box .featured_img{
        /* border: 1px solid red; */
        width: calc(100% - 20px);
        margin: 0 auto;

    }

    .featured .featured_container .featured_box .featured_img img{
        width: calc(90% - 0px);
    }


}