@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.header{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    margin-top: 77px;
    text-align: center;
    justify-content: center;
}
.yellow{
    position: absolute;
    top: 50vh;
    left: -5px;
    width: 100px;
    overflow: hidden;
    z-index:100;
}
.green{
    position: absolute;
    top: 30vh;
    left: 76%;
    width: 100px;
    height: auto;
    overflow: hidden;
    
    /*border: 1px solid black; */

}
.red{
    position: absolute;
    top: 90vh;
    left: 2%;
    width: 100px;
    height: auto;
    overflow: hidden;
    
    /* border: 1px soid rgb(0, 255, 136); */

}
.blue{
    position: absolute;
    top: 115vh;
    left: 92.25%;
    width: 50px;
    height: auto;
    overflow: hidden;
    
    /* border: 1px soid rgb(0, 255, 136); */

}
.floatgreen1{
    width: 15px;
    height: 15px;
    overflow: hidden;
    animation: floatgreen1 10s linear infinite;
}
@keyframes floatgreen1 {
    0%,100%{
        transform: translateX(50px) translateY(30px);
      }
      50%{
        transform: translateX(-20px) translateY(-10px);
        width:20px;
        height: 20px;
      }
}
.floatblue1{
    width: 15px;
    height: 15px;
    overflow: hidden;
    animation: floatblue1 5s linear infinite;
}
@keyframes floatblue1 {
    0%,100%{
        width:15px;
        height: 15px;
      }
      50%{
        width:30px;
        height: 30px;
      }
}
.floatred1{
    width: 15px;
    height: 15px;
    overflow: hidden;
    animation: floatred1 5s linear infinite;
}
@keyframes floatred1 {
    0%,100%{
        transform: translateX(50px) translateY(30px);
      }
      50%{
        transform: translateX(-20px) translateY(-10px);
        width:15px;
        height: 15px;
      }
}


.circle1 {
    animation: spin 9s infinite linear;
}
.greenR-d{
    position: absolute;
    top: 50%;
    left : 85%;
    width: 30px;
    height: 30px;
    overflow: hidden;
    animation: spin 10s linear infinite;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.blueR-d{
    position: absolute;
    top: 104%;
    left : 30%;
    width: 30px;
    height: 30px;
    overflow: hidden;
}
.redR-d{
    position: absolute;
    top: 155%;
    left : 20%;
    width: 25px;
    height: 25px;
    opacity: 80%;
    overflow: hidden;
}
.yellowR-d{
    position: absolute;
    top: 45%;
    left : 40%;
    width: 25px;
    height: 25px;
    overflow: hidden;
}
.floatyellowR-d{
    width:25px;
    height: 25px;
    animation: spin 6s linear infinite;
}
.floatblue1d{
    width:25px;
    height: 25px;
    animation: MoveSide 6s linear infinite;
}
@keyframes MoveSide {
    0%,100%{
        transform: translateX(50px) translateY(50px);
      }
      50%{
        transform: translateX(-130px) translateY(-130px);
        width:50px;
        height: 50px;
      }
}
.floatblue2d{
    width: 25px;
    height: 25px;
    animation: floatblue2d 10s linear infinite;
}
@keyframes floatblue2d {
    0% , 100%{
        transform: translateY(50px) translateX(50px);
      }
      50% {
        transform: translateY(-150px) translateX(-150px);
        width:25px;
        height: 25px;
    }
    25% ,75%{
        width: 40px;
        height: 40px;
    }
}
.floatblue3d{
    width: 25px;
    height: 25px;
    animation: floatblue3d 3s linear infinite;
}
@keyframes floatblue3d {
    0%,100%{
        transform: translateY(20px) translateX(100px);
      }
      50% {
        transform: translateY(60px);
      }
}

.floatblue4d{
    width: 25px;
    height: 25px;
    animation: MoveUpDown 6s linear infinite;
}
@keyframes MoveUpDown {
    0%{
        transform: translateY(0px);
      }
      50% {
        transform: translateY(50px);
      }
}
.floatblue5d{
    width: 20px;
    height: 20px;
    animation: floatblue5d 4s linear infinite;
}
@keyframes floatblue5d {
    0%, 100%{
        transform: translateX(-100px) translateY(-150px);
      }
      50% {
        transform: translateX(50px) translateY(20px);
      }
}
.floatblue6d{
    width: 25px;
    height: 25px;
    animation: floatblue6d 6s linear infinite;
}
@keyframes floatblue6d {
    0%{
        transform: translateY(0px);
      }
      50% {
        transform: translateY(50px);
      }
}
.floatblue7d{
    width: 25px;
    height: 25px;
    animation: floatblue7d 6s linear infinite;
}
@keyframes floatblue7d {
    0%{
        transform: translateX(0px);
      }
      50% {
        transform: translateX(50px);
      }
}
.floatblue8d{
    width: 25px;
    height: 25px;
    animation: floatblue8d 6s linear infinite;
}
@keyframes floatblue8d {
    0%{
        transform: translateX(0px);
      }
      50% {
        transform: translateX(50px);
      }
}
.floatblue9d{
    width: 15px;
    height: 15px;
    animation: floatblue9d 6s linear infinite;
}
@keyframes floatblue9d {
    0% ,100%{
        transform: translateY(0px) translateX(70px);
      }
      50% {
        transform: translateY(50px) translateX(-70px);
      }
}
.floatblue10d{
    width: 20px;
    height: 20px;
    animation: floatblue10d 6s linear infinite;
}
@keyframes floatblue10d {
    0%,100%{
        transform: translateY(-450px) translateX(50px);
      }
      50% {
        transform: translateY(-200px);
      }
}
.floatblue11d{
    width: 25px;
    height: 25px;
    animation: floatblue11d 10s linear infinite;
}
@keyframes floatblue11d {
    0%,100%{
        transform: translateY(50px) translateX(5px);
        width: 25px;
        height: 25px;
      }
      25% ,75%{
          width:10px;
          height: 10px;
      }
      50% {
        transform: translateY(-200px) ;
        width:40px;
        height: 40px;
      }
}
.floatblue12d{
    width: 25px;
    height: 25px;
    animation: floatblue12d 5s linear infinite;
}
@keyframes floatblue12d{
    0%, 100%{
        transform: translateY(0px) translateX(-50px);
        width: 30px;
        height: 30px;
      }
      50%{
        transform: translateY(-50px) translateX(70px);
        width:20px;
        height: 20px;
      }
}
.floatgreen2d{
    width: 20px;
    height: 20px;
    animation: floatgreen2d 5s linear infinite;
}
@keyframes floatgreen2d{
    0%, 100%{
        width: 25px;
        height: 25px;
      }
      50%{
        width:60px;
        height: 60px;
      }
}
.floatgreen1d{
    width: 15px;
    height: 15px;
    animation: floatgreen1d 5s linear infinite;
}
@keyframes floatgreen1d{
    0%, 100%{
        transform: translateY(-100px) translateX(-100px);
        width: 30px;
        height: 30px;
      }
      50%{
        transform: translateY(-50px) translateX(5px);
        width:10px;
        height: 10px;
      }
}
.floatgreen3d{
    width: 15px;
    height: 15px;
    animation: floatgreen3d 5s linear infinite;
}
@keyframes floatgreen3d{
    0%, 100%{
        transform: translateY(10px) translateX(-280px);
        width: 20px;
        height: 20px;
      }
      50%{
        transform: translateY(-150px) translateX(-50px);
        width:10px;
        height: 10px;
      }
}
.floatgreen5d{
    width: 25px;
    height: 25px;
    animation: floatgreen5d 5s linear infinite;
}
@keyframes floatgreen5d{
    0%, 100%{
        transform: translateY(0px) translateX(-50px);
        width: 30px;
        height: 30px;
      }
      50%{
        transform: translateY(-50px) translateX(70px);
        width:20px;
        height: 20px;
      }
}
.floatyellow1d{
    width: 25px;
    height: 25px;
    animation: floatyellow1d 2s alternate infinite;
}
@keyframes floatyellow1d{
    0%, 100%{
        transform: translateY(0px);
        width: 10px;
        height: 10px;
      }
      50%{
        transform: translateY(-50px);
        width:20px;
        height: 20px;
      }
}
.floatyellow2d{
    width: 25px;
    height: 25px;
    animation: floatyellow2d 7s linear infinite;
}
@keyframes floatyellow2d{
    0%, 100%{
        transform: translateY(300px) translateX(50px);
        width: 30px;
        height: 30px;
      }
      50%{
        transform: translateY(-20px) translateX(-90px);
        width:20px;
        height: 20px;
      }
}
.floatyellow3d{
    width: 25px;
    height: 25px;
    margin-top: -40px;
    margin-left: -40px;
    animation: floatyellow3d 5s linear infinite;
}
@keyframes floatyellow3d{
    0%, 100%{
        
        transform: translateX(-20px);
        width: 15px;
        height: 15px;
      }
      50%{
          transform: translateX(20px);
        width:10px;
        height: 10px;
      }
}
.floatyellow5d{
    width: 25px;
    height: 25px;
    margin-top: -40px;
    margin-left: -40px;
    animation: floatyellow5d 3s linear infinite;
}
@keyframes floatyellow5d{
    0%, 100%{
        
        width: 50px;
        height: 50px;
      }
      50%{
          transform: translateX(20px);
        width:25px;
        height: 25px;
      }
}

.sub-header-dark{
    text-align: center;
    font-size: 20px;
    color: whitesmoke;
}

.sub-header{
    text-align: center;
    font-size: 20px;
}
.box{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    /*height: 770px;*/
    margin-top: 40px;
    border-radius: 24px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 150px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
.box-dark{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    margin-top: 40px;
    border-radius: 24px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 150px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 2px 4px ;
}
.mainbody{
    position: relative;
    height:180vh;
    overflow:hidden;

}
.head{
    font-family: 'Montserrat', sans-serif;
}
.box-primary{
    display: flex;
}
.box-secondary{
    display: grid;
    grid-template-rows: 50% 50%;
    overflow: hidden;
}
.box-detail{
    display: grid;
    grid-template-rows: 50% 50%;
}
.box-address{
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: 20% 80%;
}
.detail{
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.box-social{
    display: grid;
    grid-template-columns: 0% 30% 30% 30%;
}
.mailid{
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: 58.25% 10.25% 25%;
}
.atRate{
    padding-right: 9px;
}

.header-contact{
    display: none;
}

@media screen and (min-width: 1000px ){
    .box-map{
        display: none;
    }
    .images-phone{
        display: none;
    }
   
}
@media screen and (min-width: 650px ) and (max-width:1000px){

    
    .images-phone{
        display: none;
    }
    .circle{
        display: none;
    }
    .box-address{
        display: none;
    }
    .box-image{
        display: none;
    }
    .box{
        box-shadow: none;
        grid-template-rows: 70% 30%;
        grid-template-columns: 100%;
        height: 1000px;
    }

    .box-detail{
        grid-template-rows: 0%  70% 30%;
        
    }
    .form-message{
        width: 280px;

    }
    .box-mail{
        width: 135px;
    }
    .box-map{
        margin: 10px;
        margin-left: 80px;
        width: 295px ;
        height: 200px;
        overflow: hidden;
        border-radius: 5px;
    }
    .box-social{
        margin-top: 250px;
    }
    .header-contact{
        display: none;
    }
    
}

@media screen and (max-width: 650px) and (min-width:0px){
    .header-contact{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .head{
        font-size: 30px;
        margin-top: 6vh;
        margin-left: -20px;
    }
    .mainbody{
        position: relative;
        height: 180vh;
    }
    .sub-header{
        font-size: 20px;
        text-align: center;
    }
    .images-desktop{
        display: none;
    }
    .box-image {
        display: none;
    }
    .box-address{
        display: none;
    }
    .box-primary{
        height: 500px;
        justify-content: center;
        align-items: center;
    }
    .box{
        grid-template-rows: 85vh 55vh;
        grid-template-columns: 100%;
        width: 329px;
        height: 140vh;
        /*border: 1px solid black;*/
        margin-left: 30px;
        margin-bottom: 30vh;
        box-shadow: none;
        /*margin-bottom: 1000px;*/
    }
    .form-message{
        width: 280px;

    }
    .box-mail{
        width: 135px;
    }
    .inner-Box{
        margin: 10px;
    }
    .box-detail{
        grid-template-rows: 0% 0% 70% ;
        
    }
    .box-social{
        margin-top: 250px;
        margin-left: 25px;
        margin-bottom: 25px;
        grid-template-columns: 22% 22% 22% 22%;
    }
    .box-map{
        margin: 5px;
        width: 295px ;
        height: 200px;
        overflow: hidden;
        border-radius: 5px;
    }
    .submit{
        margin-top:5px;
        width: 10rem;
        height: 2rem;
    }
    .MuiFormControl-root{
        width:17rem;
    }
    
}